.announcement {
  padding: 10px 50px;
  justify-content: space-between;
  height: 30px;
  background-color: teal;
  color: white;
  display: flex;
  align-items: center;

  font-size: 13px;
  font-weight: 400;
  .item {
    display: flex;
    align-items: center;
    svg {
      font-size: 16px;
      margin-right: 10px;
    }
  }
}
