.filterList {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  margin-bottom: 20px;
  .filterItem {
    .filterText {
      font-size: 18px;
      font-weight: 600;
      margin-right: 20px;
      @media only screen and (max-width: 380px) {
        margin-right: 0px;
      }
    }
    select {
      padding: 8px;
      margin: 8px;
      text-transform: capitalize;
    }
    @media only screen and (max-width: 380px) {
      width: 0 20px;
      display: flex;
      flex-direction: column;
    }
  }
  @media only screen and (max-width: 380px) {
    padding: 20px 10px;
  }
}
//------------------------------Mobile Reponsive----------------------------------

@media only screen and (max-width: 739px) {
  .filterList {
    padding: 20px 10px;
    .filterItem {
      width: 0 20px;
      display: flex;
      flex-direction: column;
      .filterText {
        margin-right: 0px;
      }
    }
  }
}
